<div id="header">
	<div class="hd_logo">
		<a href="/index.sgs" target="_self"><img src="/images/top_logo.jpg" width="288px" height="83px" border="0" alt="수지선한목자교회처음으로"></a>
	</div>
	<div class="login_menu">
		<!--<span><a href="#"><img src="/images/top_search.gif" width="138" height="34" alt="search" /></a></span>-->

		<span id="span_logout" style="display:none;"><a id="logout" class="loginForm" onclick="return false"> <img src="/images/top_logout.gif" alt="logout" width="64" height="34" id="Image6_logout" onmouseover="MM_swapImage('Image6_logout','','/images/top_logout_c.gif',1)" onmouseout="MM_swapImgRestore()"></a></span>
	</div>
	<!-- start horizontal menu -->
	<div class="myMenu" id="menu_912">
		<div class="rootVoices">
			<div class="rootVoice {menu: 'menu_0'}" menu="menu_0" style="white-space: nowrap;">
				<img src="/images/top_menu1.gif" name="top1" width="88" height="43" border="0" id="Image1" onmouseover="MM_swapImage('Image1','','/images/top_menu1_c.gif',1)" onmouseout="MM_swapImgRestore()">
			</div>
			<div class="rootVoice {menu: 'menu_1'}" menu="menu_1" style="white-space: nowrap;">
				<img src="/images/top_menu2.gif" name="top2" width="125" height="43" id="Image2" onmouseover="MM_swapImage('Image2','','/images/top_menu2_c.gif',1)" onmouseout="MM_swapImgRestore()">
			</div>
			<div class="rootVoice {menu: 'menu_2'}" menu="menu_2" style="white-space: nowrap;">
				<img src="/images/top_menu3.gif" alt="" name="top3" width="76" height="43" id="Image3" onmouseover="MM_swapImage('Image3','','/images/top_menu3_c.gif',1)" onmouseout="MM_swapImgRestore()">
			</div>
			<!--div class="rootVoice {menu: 'empty'}" onclick="location.href='../designer'">Designer</div-->
			<div class="rootVoice {menu: 'menu_3'}" menu="menu_3" style="white-space: nowrap;">
				<img src="/images/top_menu4.gif" alt="" name="top4" width="96" height="43" id="Image4" onmouseover="MM_swapImage('Image4','','/images/top_menu4_c.gif',1)" onmouseout="MM_swapImgRestore()">
			</div>
			<div class="rootVoice {menu: 'menu_4'}" menu="menu_4" style="white-space: nowrap;">
				<img src="/images/top_menu5.gif" alt="" name="top5" width="114" height="43" id="Image5" onmouseover="MM_swapImage('Image5','','/images/top_menu5_c.gif',1)" onmouseout="MM_swapImgRestore()">
			</div>
		</div>
	</div>
	<!-- end horizontal menu -->
</div>

<div id="container">
	<form id="search" name="search" onsubmit="return false;" method="post">
		<input type="hidden" name="page" value="">
		<input type="hidden" id="board_id" name="board_id" value="BOARD_02">
		<input type="hidden" id="skin" name="skin" value="div_board">
		<input type="hidden" id="currentMenu" name="currentMenu" value="coreValue">
		<input type="hidden" id="category" name="category" value="">
		<input type="hidden" id="seqNum" name="seqNum" value="6980">
		<input type="hidden" id="content_html" value="">

		<input type="hidden" id="keyword" name="keyword" value="">

		<!--snb -->
		<div class="snb">
			<!--ul id="li_broadcast">
			<li>주일예배</li>
			<li>수요예배</li>
			<li>금요성령집회</li>
			<li>새벽예배</li>
			<li>특별새벽예배</li>
			<li>젊은이예배</li>
			<li>시리즈설교</li>
			<li>초빙강사</li>
			<li>추천영상</li>
			<li>간증</li>
			<li>찬양</li>
			<li>행사</li>
		</ul-->
		<ul id="li_broadcast_img">
			<li>
				<a href="javascript:board('BOARD_05')" target="_self"><img src="/images/suji_sub3_button_1.gif" alt="공지사항" width="84" height="32" id="img20" onmouseover="change_image(this,'/images/suji_sub3_button_1_c.gif')" onmouseout="change_image(this,'/images/suji_sub3_button_1.gif')"></a>
			</li>
			<li>
				<a href="javascript:board('BOARD_02')" target="_self"><img src="/images/suji_sub3_button_5_c.gif" alt="자유게시판" width="84" height="36"></a>
			</li>
			<li><a href="javascript:board('BOARD_10')" target="_self"><img src="/images/suji_sub5_button_4.gif" alt="강대형목사칼럼" width="115" height="38" id="img22" onmouseover="change_image(this,'/images/suji_sub5_button_4_c.gif')" onmouseout="change_image(this,'/images/suji_sub5_button_4.gif')"></a></li>
			<!--
			<li>
			<a href="javascript:board('05')" target="_self"><img src="/images/suji_sub3_button_2.gif" alt="캘린더" width="84" height="36" id="Image9" onMouseOver="MM_swapImage('Image9','','/images/suji_sub3_button_2_c.gif',1)" onMouseOut="MM_swapImgRestore()" /></a>
		</li>
	-->
	<li>
		<a href="javascript:board('BOARD_04')" target="_self"><img src="/images/suji_sub3_button_3.gif" alt="자료실" width="84" height="35" id="img23" onmouseover="change_image(this,'/images/suji_sub3_button_3_c.gif')" onmouseout="change_image(this,'/images/suji_sub3_button_3.gif')"></a>
	</li>
	<li>
		<a href="javascript:board('PHOTO_01')" target="_self"><img src="/images/suji_sub3_button_6.gif" alt="갤러리" width="84" height="39" id="img26" onmouseover="change_image(this,'/images/suji_sub3_button_6_c.gif')" onmouseout="change_image(this,'/images/suji_sub3_button_6.gif')"></a>
	</li>
	<li>
		<a href="javascript:board('BOARD_08')" target="_self"><img src="/images/suji_sub3_button_7.gif" alt="부서게시판" width="84" height="34" id="img27" onmouseover="change_image(this,'/images/suji_sub3_button_7_c.gif')" onmouseout="change_image(this,'/images/suji_sub3_button_7.gif')"></a>
	</li>
	<li>
		<a href="#" onclick="javascript:alert('기획위원만 사용하실 수 있는 자료실입니다.\n기획위원은 로그인 후에 사용해 주세요.');" target="_self"><img src="/images/suji_sub3_button_8.gif" alt="기획위원자료실" width="115" height="38" id="img28" onmouseover="change_image(this,'/images/suji_sub3_button_8_c.gif')" onmouseout="change_image(this,'/images/suji_sub3_button_8.gif')"></a>
	</li>
	<li>
		<a href="javascript:board('PHOTO_04')" target="_self"><img src="/images/suji_sub3_button_9.gif" alt="새예배당소식" width="99" height="32" id="img29" onmouseover="change_image(this,'/images/suji_sub3_button_9_c.gif')" onmouseout="change_image(this,'/images/suji_sub3_button_9.gif')"></a>
	</li>
</ul>
</div>

<!--//snb -->

<!--content -->
<div id="content">
	<ul style="list-style-type:none; margin-top:0">
		<li style="width:433px;;padding-top:11px">
			<div id="breadCrumb3" class="breadCrumb module">
				<ul class="nav">
					<li class="first"><a href="/index.sgs">홈</a></li>
					<li><a href="/board/boardList.sgs">커뮤니티</a></li>
					<li class="last">자유 게시판</li>
				</ul>
			</div>
			<div><img src="/images/suji_sub3_title_txt_BOARD_02.gif" width="433" height="143"></div>
		</li>
		<li>
			<div><img src="/images/suji_sub3_title_img.jpg" width="311" height="200"></div>
		</li>

	</ul>

	<div id="sub_content">
		<table class="tbl_type view" border="1" cellspacing="0" summary="게시판의 글제목 리스트">
			<colgroup>
				<col width="80">
				<col width="600">
			</colgroup>
			<thead>
				<tr><th></th>
					<th></th>
				</tr></thead>
				<tbody>
					<tr>
						<td class="title bold">작성자</td>
						<td class="title silvertext">조하은</td>
					</tr>
					<tr>
						<td class="title bold">작성일</td>
						<td class="title silvertext">2017-04-03 오후 03:05:05</td>
					</tr>
					<tr>
						<td class="title bold">제목</td>
						<td class="title silvertext">새예배당 앞 &lt;한양수자인 더킨포크&gt; 입주자 계시는지요?</td>
					</tr>
					<tr>
						<td colspan="2">
							<div style="padding:20px;text-align:left;">
								<p>&nbsp;</p><p>안녕하셔요? 수지선한목자교회 교인이자, 새 예배당 앞 한양수자인 더킨포크 입주자 조하은성도입니다.</p><p>저희 교인 중 더킨포크 입주자들이 있으신 것 같아 이렇게 글 올립니다.</p><p>&nbsp;</p><p>어제 사전점검 다녀와서 많은 생각이 드셨을 거라 생각합니다.</p><p>함께 이야기 나누고 함께 기도하고 싶어 이렇게 글 올립니다.</p><p>연락 기다리겠습니다.</p><p>010-7133-7061 조하은성도</p><p>&nbsp;</p><p>&nbsp;</p>
							</div>
						</td>
					</tr>

					<tr>
						<td colspan="2" style="padding:10px; text-align:left">
							<input type="text" id="txtComment" name="txtComment" maxlength="50" onkeypress="javascript:alert('로그인 후에 입력 하실 수 있습니다.');">&nbsp;
							<button title="덧글" type="button" class="button_black" onclick="javascript:alert('로그인 후에 입력 하실 수 있습니다.');">덧글입력</button>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="buttons" style="text-align:center; margin-bottom:40px;float:left">
				<button id="btnPrint" title="인쇄" type="button" class="button_black" onclick="javascript:print_content('6980')">인쇄</button>&nbsp;
				<button id="btnUrlCopy" title="URL 복사" type="button" class="button_black" onclick="javascript:copyUrl('6980', 'BOARD_02')">URL 복사</button>&nbsp;
				<button id="btnConfirm" title="확인" type="button" class="button_black" onclick="javascript:backToList('list',false)">확인</button>&nbsp;
			</div>

			<script type="text/javascript">
			var boardDataSeqNum = 6980;
			function insertBoardComment(board_id,objNum) {

				try {
					var memo = document.getElementById('txtComment').value;
					if (memo == '') {
						alert('덧글 내용이 비어 있습니다. 덧글 내용을 작성해 주세요.');
						parent.unBlockUI();
						return;
					}
					parent.blockUI();
					$.post(
						"/board/insertBoardComment.sgs",
						{"board_id":board_id,"objNum":objNum,"memo":memo},
						function(data){
							parent.unBlockUI();
							var obj = parent.list_content;
							parent.view_content_from_iframe(boardDataSeqNum, obj);
						}
					);

				} catch(e) {}
			}

			function editBoardComment(seqNum) {

				try {
					var memo = document.getElementById('txtCommentEdit'+seqNum).value;
					if (memo == '') {
						alert('덧글 내용이 비어 있습니다. 덧글 내용을 작성해 주세요.');
						parent.unBlockUI();
						return;
					}
					if (confirm("덧글을 수정 하시겠습니까?")) {
						parent.blockUI();
						$.post(
							"/board/updateBoardComment.sgs",
							{"seqNum":seqNum,"memo":memo},
							function(data){
								parent.unBlockUI();
								var obj = parent.list_content;
								parent.view_content_from_iframe(boardDataSeqNum, obj);
							}
						);
					}

				} catch(e) {}
			}

			function deleteBoardComment(seqNum) {

				try {
					if (confirm("덧글을 삭제 하시겠습니까?")) {
						parent.blockUI();
						$.post(
							"/board/deleteBoardComment.sgs",
							{"seqNum":seqNum},
							function(data){
								parent.unBlockUI();
								var obj = parent.list_content;
								parent.view_content_from_iframe(boardDataSeqNum, obj);
							}
						);
					}
				} catch(e) {}
			}

			function copyUrl(seqNum, board_id){

				var IE=(document.all)?true:false;
				var Url = 'http://www.sujigood.org/board/boardList.sgs?seqNum=' + seqNum + '&board=' + board_id + '&mode=top';

				if (IE) {
					if(window.clipboardData.setData('Text', Url)){
						alert('선택하신 게시물의 고유주소(URL)가 클립보드에 복사되었습니다.\n\Ctrl + V 또는 붙여 넣기를 선택하여 이용하시기 바랍니다.');
					}
				} else {
					temp = prompt("이 글의 고유주소(URL) 입니다. Ctrl+C를 눌러 클립보드로 복사하여 사용하세요", Url);
				}

			}
			</script>
		</div>

	</div>
	<!--//content -->
</form></div>
